@page
@model WebApp.Pages.Ayuda.AyudaModel
@{
}
<div class="container-fluid">

    <div class="card">
        <div class="card-header" style="text-align:center ">

            <h3>Manual de Usuario</h3>

            
        </div>

    </div>
</div>