@page
@model WebApp.Pages.Permisos.EditModel
@{
}
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdPermiso" v-model="Entity.IdPermiso" />

                <div class="form-group mb-3">
                    <label for="Entity.IdRol" class="form-label">Rol</label>

                    <select asp-for="Entity.IdRol" class="form-select" v-model="Entity.IdRol"
                            asp-items="@(new SelectList(Model.RolesLista,"IdRol","Rol"))" required>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Mantenimiento" class="form-label">Mantenimiento</label>
                    <input type="text" class="form-control" asp-for="Entity.Mantenimiento" v-model="Entity.Mantenimiento" maxlength="250" required>
                </div>

                <div class="form-group  mb-3">
                    <label for="Entity.Acceso" class="form-label">Acceso</label>
                    <input type="text" class="form-control" asp-for="Entity.Acceso" v-model="Entity.Mantenimiento" maxlength="250" required>
                </div>






                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar") <!-- validacion por si es agregar o actualizar -->
                        </button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script defer src="~/App/Permisos/Edit.js"></script>

}