@page
@model WebApp.Pages.Ordenes.EditModel
@{
}
<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdOrden" v-model="Entity.IdOrden" />

                <div class="form-group mb-3">
                    <label for="Entity.NombreCliente" class="form-label">Nombre de Cliente</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreCliente" v-model="Entity.NombreCliente" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PlacaVehiculo" class="form-label">Placa Vehiculo</label>
                    <input type="text" class="form-control" asp-for="Entity.PlacaVehiculo" v-model="Entity.PlacaVehiculo" maxlength="250" required>
                </div>

                <div class="form-group  mb-3">
                    <label for="Entity.MarcaVehiculo" class="form-label">Marca de Vehiculo</label>
                    <input type="text" class="form-control" asp-for="Entity.MarcaVehiculo" v-model="Entity.MarcaVehiculo" maxlength="250" required>
                </div>

                <div class="form-group  mb-3">
                    <label for="Entity.ModeloVehiculo" class="form-label">Modelo de Vehiculo</label>
                    <input type="text" class="form-control" asp-for="Entity.ModeloVehiculo" v-model="Entity.ModeloVehiculo" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.AnoVehiculo" class="form-label">Año de Vehiculo</label>
                    <input type="number" class="form-control" asp-for="Entity.AnoVehiculo" v-model="Entity.AnoVehiculo" required>
                </div>



                <div class="form-group mb-3">
                    <label for="Entity.ManodeObra" class="form-label">Precio Mano Obra</label>
                    <input type="number" class="form-control" asp-for="Entity.ManodeObra" v-model="Entity.ManodeObra" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Productos" class="form-label">Productos</label>
                    <textarea class="form-control" asp-for="Entity.Productos" v-model="Entity.Productos" required></textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PrecioProductos" class="form-label">Precio Productos</label>
                    <input type="number" class="form-control" asp-for="Entity.PrecioProductos" v-model="Entity.PrecioProductos" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Estado" class="form-label">Estado</label>
                    <select asp-for="Entity.Estado" class="form-select" v-model="Entity.Estado"  required>
                        <option value="Orden Abierta">Orden Abierta</option>
                        <option value="Orden Cerrada">Orden Cerrada</option>
                    </select>
                </div>



                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar") <!-- validacion por si es agregar o actualizar -->
                        </button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script defer src="~/App/Ordenes/Edit.js"></script>
}