@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/slider.css" rel="stylesheet" />
<section class="banner">
    <div class="banner-content">
        <h1>Serviauto M&M</h1>
        <a>Sistema de Control</a>
    </div>
</section>