@page
@model WebApp.Pages.AcercaDe.AcercaDeModel
@{
}
<div class="container-fluid">

    <div class="card">
        <div class="card-header" style="text-align:center ">

            <h3>SGTW</h3>
            <h3>Sistema de Gestión de Taller Workshop</h3>
            <h3>Version 1.0</h3>
            <h3>Serviauto M&M</h3>
            <h3>Propietario: Osmin Magaña</h3>
            <h3>Desarrolladores: Ricardo Valladares - Bryan Peraza</h3>
            <h3>Realizado en .NET CORE</h3>
            <h3>tallermymsystem@gmail.com</h3>

        </div>
        
    </div>
</div>

